body{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    text-align:center;
    
}

label{
    display: block;
    margin: 0 0 30px 0;
   
    
}

input{
    width: 700px;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 10px
    
}

button{
    cursor: pointer;
    padding: 8PX;
    background-color: #1b9cb3;
    border-radius: 10px;
    text-align:center;
    
    

}
form {
    text-align:center;
    
  }

  html{

    background-color: #a7d7e6dd ;
  }